%message-shared {
    display: inline-block;
    margin-bottom: 0.5em;
    padding: 0 1em;
    border-radius: 0.3em;
    text-align: center;
}

%user-avatar-shared {
    height: 12em;
    border-radius: 1em;
}

%user-block-shared {
    display: flex;
    justify-content: space-between;
    background-color: #c3d4b3;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
}

html {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 10px;
}

body {
    min-width: 320px;
    h1, h2, h3 {
        text-align: center;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    button, input {
        font: inherit;
    }
    input, textarea {
        border: 1px solid #AFC4B2;
        border-radius: 0.5em;
        width: 15em;
        padding: 0.3em 0.5em;
        margin-top: 0.5em;
        margin-left: 0.5em;
        &:focus {
            border-color: #2F44A2;
        }
    }
    button {
        margin-top: 0.5em;
        padding: 0.3em 0.5em;
        box-shadow: 4px 3px 5px;
        border: 1px solid #9cbbad;
        border-radius: 0.4em;
    }
    ul {
        list-style: none;
    }
    a {
        font-size: 1em;
        text-decoration: none;
    }
}

header {
    position: fixed;
    min-width: 320px;
    top: 0;
    left: 5px;
    right: 5px;
    padding: 1em;
    border-radius: 1em;
    background-color: #6376CB;
    &.onlyNav {
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }
    h1 {
        color: #20201B;
    }
    ul {
        padding: 0;
        li {
            display: inline;
            margin-right: 0.5em;
            &:last-child {
                float: right;
            }
        }
    }
    a {
        color: #CBDCB6;
        &:hover {
            color: #EEFE00;
        }
    }
    
}

main {
    padding: 1em;
    .user-data {
        display: flex;
        position: relative;
        .online {
            position: absolute;
            top: 10px;
            right: 15px;
            color: red;
        }
        .user-avatar {
            @extend %user-avatar-shared;
            margin: 1em 2em 0 0;
        }
        .user-info {
            .name {
                margin-right: 10px;
            }
        }
    }
    .friends {
        .friend-item {
            @extend %user-block-shared;
            .username {
                margin-top: 1em;
            }
        }
        .action-buttons {
            font-size: 0.8em;
        }
    }
    .dialogs {
        .dialog-item {
            background-color: #20e44a;
            padding: 0.5em 1em;
            border-radius: 1em;
            margin: 1em;
            cursor: pointer;
            &.right-align {
                text-align: right;
            }
            .last-message {
                @extend %message-shared;
                background-color: #7d7272;
                .text, .date {
                    margin: 0.4em;
                }
                .date {
                    font-size: 0.6em;
                }
            }
            .not-read {
                background-color: red;
            }
        }
    }
    .dialog {
        .error {
            color: red;
        }
        .message-wrapper {
            &.right-align {
                text-align: right;
            }
            .message {
                @extend %message-shared;
                background-color: #20e44a;
                &.not-read {
                    background-color: red;
                }
                .text, .date {
                    margin: 0.4em;
                }
                .date {
                    font-size: 0.6em;
                }
            }
        }
    }
    .action-buttons {
        background-color: #64c5ffeb;
        color: #444a39;
    }
    .change-data {
        margin-left: 50%;
    }
    .settings {
        display: flex;
        justify-content: space-around;
        .user-avatar-wrapper {
            text-align: center;
            .user-avatar {
                @extend %user-avatar-shared;
                display: block;
            }
        }
        .change-password {
            margin-top: 2em;
            text-align: center;
            .error {
                color: red;
            }
        }
    }
    .search {
        .users {
            margin-top: 2em;
            padding: 0 1em;
            .user-item {
                @extend %user-block-shared;
                padding: 1em 5em 1em 1em;
                .username {
                    margin-top: 1em;
                }
                .user-avatar {
                    height: 3em;
                    border-radius: 0.3em;
                }
            }
        }
    }
}


@media (min-width: 490px) {
    html {
        font-size: 1.05em;
    }
}

@media (min-width: 560px) {
    html {
        font-size: 1.1em;
    }
}

@media (min-width: 700px) {
    html {
        font-size: 1.15em;
    }
}